/*--- footer information---- */


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*--- Flexbot Settings---- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

main .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
   }

.container-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: white;
    width: 90%;
    box-shadow: 0px 10px 20px hsl(229, 6%, 66%);
    margin: 25px 0px;
    border-radius: 7px;
}
img {
    align-self: flex-end;
    margin: 20px;
}
/*--- Base Settings---- */

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);    
    height: 100%;
  
}

h2 {
    color: hsl(234, 12%, 34%);
    margin: 30px 0;
}

span {
    
    font-weight: lighter;
    color: hsl(229, 6%, 66%);
}
p {
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    margin: 0px 30px;
}
#card-one {
    border-top: 5px solid hsl(180, 62%, 55%);
    
}
#card-two {
    border-top: 5px solid hsl(0, 78%, 62%);
}
#card-three {
    border-top: 5px solid hsl(34, 97%, 64%);
}
#card-four {
    border-top: 5px solid hsl(212, 86%, 64%);
}



